.button {
    background-color: #0195f1;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    height: 34px;
    margin: 4px;
    width: 60px;
}
.button:hover {
    background-color: #23a3f3;
}
.button:active {
    background-color: #0071b8;
}
