.card {
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    margin-bottom: 22.5px;
}
.cardTitle {
    overflow: hidden;
    max-height: 160px;
}
.imgContainer {
    background: no-repeat #000;
    background-position: center;
    background-size: contain;
    border-radius: 8px 8px 0 0;
    height: 250px;
    width: 400px;
}
.infoContainer {
    background-color: white;
    border-radius: 0 0 8px 8px;
    height: 250px;
    padding: 12px;
    position: relative;
    width: 400px;
}
.url {
    bottom: 35px;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    font-family: 'Roboto-Regular';
    max-width: 380px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.url:hover {
    color: rgba(0, 0, 0, 0.6);
}
.source {
    bottom: 12px;
    right: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto-Regular';
    position: absolute;
    max-width: 200px;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.timestamp {
    bottom: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto-Regular';
    left: 12px;
    position: absolute;
}

@media screen and (max-width: 480px) {
    .infoContainer {
        width: 350px;
    }
    .imgContainer {
        width: 350px;
    }
    .url {
        max-width: 340px;
    }
}
