.card {
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    margin-bottom: 22.5px;
}
.cardTitle {
    max-height: 80px;
    overflow: hidden;
    padding-bottom: 8px;
    text-overflow: ellipsis;
}
.imgContainer {
    background: no-repeat #000;
    background-position: center;
    background-size: contain;
    border-radius: 8px 8px 0 0;
    height: 250px;
    width: 400px;
}
.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 8px 8px;
    height: 250px;
    padding: 12px;
    position: relative;
    width: 400px;
}
.content {
    display: inline-block;
    height: 200px;
}
.description {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    flex-grow: 0;
    font-weight: 300;
    max-height: 95px;
    overflow: hidden;
}
.url {
    color: rgba(0, 0, 0, 0.4);
    display: block;
    font-size: 12px;
    max-width: 380px;
    overflow: hidden;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    text-decoration: underline;
    white-space: nowrap;
}
.url:hover {
    color: rgba(0, 0, 0, 0.6);
}
.meta {
    display: flex;
    justify-content: space-between;
}
.source {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    max-height: 20px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.timestamp {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .card {
        width: 350px;
        margin: 22.5px auto;
    }
    .infoContainer {
        width: 350px;
    }
    .imgContainer {
        width: 350px;
    }
    .url {
        max-width: 340px;
    }
}
